
#popup-c {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(100, 100, 100, .8);

    #popup {
        border: 5px solid white;
        box-sizing: border-box;
        position: fixed;
        display: flex;
        flex-direction: column;
        width: max(50vw, 200px);
        height: 50vh;
        background: linear-gradient(silver, gray);
        border-radius: 20px;
        padding: 25px;

        #bottom {
            position: absolute;
            align-self: flex-end;
            bottom: 20px;
        }
    }
}